<ion-header-bar class="header-color">
    <h1 class="title center-h custom-icon">{{task.name}}</h1>
    <div class="numberCircle right-h" ng-click="goToItemList()">{{task.itemCount}}</div>
</ion-header-bar>
<ion-view view-title="Task List">
    <ion-content>
        <div class="item item-icon-left scanner-tag">
            <a ng-click="scanTagId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <!--<span class="text-center">&nbsp;&nbsp;&nbsp;<input type="text" ></input></span>-->
            <label class="item item-input">
                <span class="input-label">{{ 'TAGID' | translate}}</span>
                <input type="text" ng-model="current.tagId" focus="{{focusTag}}" my-enter="focusDevice()"></input>
            </label>
        </div>
        <div class="item item-icon-left scanner-device">
            <a ng-click="scanDeviceId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <!--<span class="text-center">{{ 'DEVICEID' | translate}}&nbsp;&nbsp;&nbsp;<input type="text" ng-model="deviceId"></input></span>-->
            <label class="item item-input">
                <span class="input-label">{{ 'DEVICEID' | translate}}</span>
                <input type="text" ng-model="current.deviceId" my-enter="saveTag()" focus="{{focusInput}}"></input>
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-clear">
        <div class="button-bar button-dark">
            <a class="button button-dark icon-left" ng-click="saveTag()"> {{ 'NEXT' | translate}} </a>
            <a class="button button-dark icon-left" ng-click="goToItemList($index)"> {{ 'DONE' | translate}} </a>
        </div>
    </div>
</ion-view>