<ion-header-bar class="header-color">
    <a ng-click="goBack()" class="item item-icon-left back-button">
        <i class="icon ion-android-arrow-back"></i></a>
    <h1 class="title center-h custom-icon">{{task.name}}</h1>
    <div class="numberCircle right-h">{{task.itemCount}}</div>
</ion-header-bar>
<ion-view view-title="Task List">
    <ion-content>
        <ion-list>
            <div class="item item-left" ng-repeat="item in items">
                <span>
        <span>{{$index+1}}. <span ng-show="{{showTag()}}">{{item.id}}<br/></span> </span><span ng-show="{{showDevice()}}">{{item.deviceId}}</span><br/>
                <span ng-show="{{showName()}}">{{item.name}}<br/></span>
                <span ng-show="{{showDesc()}}">{{item.desc}}<br/></span>
                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.comments}}<br/>-->
                <span ng-show="{{showAttachment()}}">{{'ATTACHMENT' | translate}} - {{item.attachments}}</span>
                </span>
                <p ng-hide="item.syncStatus===''" class="color-grey" ng-show="task.hasSyncFailed">{{item.syncStatus}} : {{item.syncReason}}</p>
            </div>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-clear">
        <div class="button-bar button-dark">
            <a class="button button-dark icon-left" ng-click="syncWrap()"> {{ 'SYNCDATA' | translate}} </a>
            <a class="button button-dark icon-left" ui-sref="app.taskList"> {{ 'DONE' | translate}} </a>
        </div>
    </div>
</ion-view>