<ion-header-bar class="header-color">
    <h1 class="title center-h custom-icon">{{task.name}}</h1>
    <div class="numberCircle right-h" ng-click="goToItemList()">{{task.itemCount}}</div>
</ion-header-bar>
<ion-view view-title="Task List">
    <ion-content>
        <div class="item item-icon-left scanner-tag">
            <a ng-click="scanDeviceId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <!--<span class="text-center">{{ 'DEVICEID' | translate}}&nbsp;&nbsp;&nbsp;<input type="text" ng-model="deviceId"></input></span>-->
            <label class="item item-input">
                <span class="input-label">{{ 'DEVICEID' | translate}}</span>
                <input type="text" ng-model="current.deviceId" my-enter="saveTag()" focus-me="focusInput"></input>
            </label>
        </div>
        <a ng-click="openMoreInfo()" class="button button-dark icon more-info-lite ion-more"></a>
        <leaflet id="map" watch-markers="no" lf-center="center" defaults="defaults" layers="layers" maxBounds="maxBounds"
        class="full-size" markers="markers" event-broadcast="events">
        </leaflet>
        <!--<div id="map" data-tap-disabled="true" class="over">
        </div>-->
        <img class="crosshair" width="50px" height="50px" src="img/crosshair.png"></img>
        <a class="location" ng-click="recenter()"><img width="40px" height="40px" src="img/location.png"></img>
        </a>
    </ion-content>
    <div class="bar bar-footer bar-clear">
        <div class="button-bar button-dark">
            <a class="button button-dark icon-left" ng-click="saveTag()"> {{ 'NEXT' | translate}} </a>
            <a class="button button-dark icon-left" ng-click="goToItemList($index)"> {{ 'DONE' | translate}} </a>
        </div>
    </div>
</ion-view>