<!--<ion-header-bar class="header-color">
    <a ui-sref="app.taskList" class="item item-icon-left back-button">
        <i class="icon ion-android-arrow-back"></i></a>
    <h1 class="title center-h offset-h custom-icon">{{ 'LOGINSYNC' | translate}}</h1>
</ion-header-bar>-->
<!--<ion-view view-title="Task List">-->
<!--<div class="list screen-middle full-width">-->
<label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'EMAIL' | translate}}</span>
    <input ng-model="user.email" type="text" placeholder="">
  </label>
<label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'PASSWORD' | translate}}</span>
    <input ng-model="user.password" type="password" rows="4" placeholder=""></textarea>
  </label>
<label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'PROVISIONINGSERVER' | translate}}</span>
    <input ng-model="user.host" type="text" rows="4" placeholder=""></textarea>
  </label>
<!--</div>-->
<!--<div class="padding screen-middle screen-offset-middle full-width">
        <button class="button button-full button-dark ink" ng-click="login()">{{'LOGIN' | translate}}</button>
    </div>-->
<!--</ion-content>-->
<!--</ion-view>-->