<ion-header-bar class="header-color">
    <a ng-click="goBack()" class="item item-icon-left back-button">
        <i class="icon ion-android-arrow-back"></i></a>
    <h1 class="title center-h offset-h custom-icon">{{ 'MOREINFO' | translate}}</h1>
</ion-header-bar>
<ion-view view-title="Task List">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'DEVICENAME' | translate}}</span>
    <input type="text" placeholder="" ng-model="device.name">
  </label>
            <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'DEVICEDESCRIPTION' | translate}}</span>
    <textarea type="text" rows="4" placeholder="" ng-model="device.description"></textarea>
  </label>
            <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'COMMENTS' | translate}}</span>
    <textarea type="text" rows="4" placeholder="" ng-model="device.comments"></textarea>
            </label>
        <div class="button-bar">
        <a class="button button-dark full-width" ng-click="selectImage()">{{'SELECTIMAGE' | translate}}</a>
        <a class="button button-dark full-width" ng-click="captureImage()">{{'CAPTUREIMAGE' | translate}}</a>
        </div>
        <br/><br/>
        <ion-scroll zooming="true" direction="xy" class="image-scroller">
  <span class="img-wrap" ng-repeat="value in images"><a><img ng-src="{{value.image}}" class="local-image"></img></a><a ng-click="deleteImagePopup($index)" class="close">&times;</a>&nbsp;</span>
 </ion-scroll>
  </div>
</ion-content>
</ion-view>