<ion-header-bar class="header-color">
    <h1 class="title center-h custom-icon">{{ 'MOVE' | translate }}</h1>
    <div class="numberCircle right-h" ng-click="goToItemList()">{{task.itemCount}}</div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="item item-icon-left scanner-tag-delete">
            <a ng-click="scanTagId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <!--<span class="text-center">&nbsp;&nbsp;&nbsp;<input type="text" ></input></span>-->
            <label class="item item-input">
                <span class="input-label">{{ 'TAGID' | translate}}</span>
                <input type="text" ng-model="current.tagId" my-enter="focusInput=true"></input>
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-clear">
        <div class="button-bar button-dark">
            <a class="button button-dark icon-left" ng-click="saveTag()"> {{ 'NEXT' | translate}} </a>
            <a class="button button-dark icon-left" ng-click="goToItemList($index)"> {{ 'DONE' | translate}} </a>
        </div>
    </div>
</ion-view>