<ion-popover-view>
    <ion-content class="no-overflow">
        <div class="list">
            <a class="item item-icon-left" ng-click="scanBarcode()">
                <i class="icon ion-qr-scanner"></i>
                <span class="text-center">{{ 'SCANNEWQRCODE' | translate}}</span>
            </a>
            <a class="item item-icon-left" ng-click="downloadTasks()">
                <i class="icon ion-ios-cloud-download-outline"></i>
                <span class="text-center">{{ 'DOWNLOADFIELDTASK' | translate}}</span>
                <br/>
                <span class="text-center">{{ 'FIELDTASK' | translate}}</span>
            </a>
            <a class="item item-icon-left" ng-click="clearTasks()">
                <i class="icon ion-ios-close-outline"></i>
                <span class="text-center">{{ 'CLEARALL' | translate}}</span>
            </a>
            <a class="item item-icon-left" ng-click="clearErrors()">
                <i class="icon ion-ios-information-outline"></i>
                <i class="icon ion-ios-close-empty show-secondary"></i>
                <span class="text-center">{{ 'CLEARERRORS' | translate}}</span>
            </a>
            <a class="item item-icon-left" ng-click="clearAllData()">
                <i class="icon ion-social-buffer-outline"></i>
                <i class="icon ion-ios-close-empty show-secondary"></i>
                <span class="text-center">{{ 'CLEARDATA' | translate}}</span>
            </a>
            <!--<a class="item item-icon-left" ui-sref="app.updategps">
                <i class="icon ion-social-buffer-outline"></i>
                <i class="icon ion-ios-close-empty show-secondary"></i>
                <span class="text-center">Update gps</span>
            </a>
            <a class="item item-icon-left" ui-sref="app.deletetag">
                <i class="icon ion-social-buffer-outline"></i>
                <i class="icon ion-ios-close-empty show-secondary"></i>
                <span class="text-center">Replace tag</span>
            </a>
            <a class="item item-icon-left" ui-sref="app.replacetag">
                <i class="icon ion-social-buffer-outline"></i>
                <i class="icon ion-ios-close-empty show-secondary"></i>
                <span class="text-center">Delete tag</span>
            </a>-->
        </div>
    </ion-content>
</ion-popover-view>