<ion-header-bar class="header-color">
    <h1 class="title center-h custom-icon">{{ 'REPLACE' | translate }}</h1>
    <div class="numberCircle right-h" ng-click="goToItemList()">{{task.itemCount}}</div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <!--<div class="item item-divider">
        </div>-->
        <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'REMOVE' | translate}}</span>
            </label>
        <div class="item item-icon-left scanner-tag-delete">
            <a ng-click="scanOldTagId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <!--<span class="text-center">&nbsp;&nbsp;&nbsp;<input type="text" ></input></span>-->
            <label class="item item-input">
                <span class="input-label">{{ 'TAGID' | translate}}</span>
                <input type="text" ng-model="old.tagId" focus="{{focusOldTag}}" my-enter="focusOldDeviceIn()"></input>
            </label>
        </div>
        <div class="item item-icon-left scanner-device-delete">
            <a ng-click="scanOldDeviceId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <!--<span class="text-center">{{ 'DEVICEID' | translate}}&nbsp;&nbsp;&nbsp;<input type="text" ng-model="deviceId"></input></span>-->
            <label class="item item-input">
                <span class="input-label">{{ 'DEVICEID' | translate}}</span>
                <input type="text" ng-model="old.deviceId" focus="{{focusOldDevice}}" my-enter="focusNewTagIn()"></input>
            </label>
        </div>
        <!--<div class="item item-divider">
        </div>-->
        <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'REPLACE' | translate}}</span>
            </label>
        <div class="item item-icon-left scanner-tag-delete">
            <a ng-click="scanNewTagId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <!--<span class="text-center">&nbsp;&nbsp;&nbsp;<input type="text" ></input></span>-->
            <label class="item item-input">
                <span class="input-label">{{ 'TAGID' | translate}}</span>
                <input type="text" ng-model="current.tagId" focus="{{focusNewTag}}" my-enter="focusNewDeviceIn()"></input>
            </label>
            <a ng-click="copyTagId()">
                <i class="icon ion-ios-copy-outline copy-icon"></i></a>
        </div>
        <div class="item item-icon-left scanner-device-delete">
            <a ng-click="scanNewDeviceId()">
                <i class="icon ion-qr-scanner custom-icon"></i></a>
            <label class="item item-input">
                <span class="input-label">{{ 'DEVICEID' | translate}}</span>
                <input type="text" ng-model="current.deviceId" focus="{{focusNewDevice}}" my-enter="focusCommentIn()"></input>
            </label>
            <a ng-click="copyDeviceId()">
                <i class="icon ion-ios-copy-outline copy-icon"></i></a>
        </div>
        <!--<div class="item item-divider">
        </div>-->
        <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'REASON' | translate}}</span>
    <textarea type="text" rows="4" placeholder="" ng-model="current.comments" focus="{{focusComment}}" my-enter="saveTag()"></textarea>
            </label>
    </ion-content>
    <div class="bar bar-footer bar-clear">
        <div class="button-bar button-dark">
            <a class="button button-dark icon-left" ng-click="saveTag()"> {{ 'NEXT' | translate}} </a>
            <a class="button button-dark icon-left" ng-click="goToItemList($index)"> {{ 'DONE' | translate}} </a>
        </div>
    </div>
</ion-view>