<ion-header-bar class="header-color">
  <h1 class="title center-h custom-icon">{{ 'MYTASKLIST' | translate}}</h1>
  <div class="buttons">
    <button class="button button-icon ion-more custom-icon" ng-click="popover.show($event)">
        </button>
  </div>
  <!-- Left menu -->

</ion-header-bar>
<ion-view view-title="Task List">
  <ion-content>
    <ion-list>
      <div class="button-bar">
        <a class="item button button-light" ng-click="syncWrap()"><i class="icon ion-android-sync"></i>&nbsp;&nbsp;{{ 'SYNCDATA' | translate}}</a>
      </div>
      <a ng-click="goToTypeScreen({{task}})"
        class="item item-left" ng-repeat="task in tasks">
        <div class="item-avatar">
          <img ng-src="{{task.thumbnail}}">
          <h2 class="bigger-font">{{task.name}}</h2>
          <p>{{task.description}}</p>
          <p class="color-grey" ng-show="task.hasSyncFailed">Sync Error: {{task.syncReason}}</p>
          <p class="item-icon-right"><i ng-show="task.isSyncing" class="icon-position-right icon ion-android-sync spin-this"></i><i ng-show="!task.isSyncing && task.hasSyncFailed" class="icon-position-right icon ion-android-sync failed-status"></i> </p>
          <div class="numberCircle badge-on-right">{{task.itemCount}}</div>
        </div>
        <!--<br/>-->
        <!--<span>
        {{ 'TASKID' | translate}} : {{task.subId}}<br/>
        {{ 'TASKNAME' | translate}} : {{task.name}}<br/>
        {{ 'DESCRIPTION' | translate}} : {{task.description}}
    </span>-->
        <!--<span></span>-->
        </a>

        <!--<a class="item item-icon-left" ng-click="scanBarcode()">
          <i class="icon ion-qr-scanner"></i>
          <span class="text-center">{{ 'SCANNEWQRCODE' | translate}}</span>
        </a>-->

        <div class="item item-divider">
        </div>
    </ion-list>

  </ion-content>
  <!--<a class="button button-dark icon-left" ng-click="clearTasks()">{{ 'CLEARALL' | translate}}</a>  -->
</ion-view>