<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="lib/leaflet/dist/leaflet.css">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->

  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/angular-translate/angular-translate.min.js"></script>
  <script src="lib/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
  <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>
  <script src="lib/leaflet/dist/leaflet.js"></script>
  <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
  <script src="lib/ui-leaflet/dist/ui-leaflet.min.js"></script>
  <script src="lib/ui-leaflet-layers/dist/ui-leaflet-layers.min.js"></script>
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1VfdLT6tnYy6QOWohpVbsIXe5HiiZUis&libraries=geometry">-->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyBqd20CI-u_BguOIWb1NATjiJUMlJHfszI&sensor=true"></script>
  </script>
  <script src="js/assets/Google.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/itemListCtrl.js"></script>
  <script src="js/controllers/moreInfoCtrl.js"></script>
  <script src="js/controllers/mapScanCtrl.js"></script>
  <script src="js/controllers/taskListCtrl.js"></script>
  <script src="js/controllers/updateGps.js"></script>
  <script src="js/controllers/deleteTag.js"></script>
  <script src="js/controllers/replaceTag.js"></script>
  <script src="js/controllers/lite.js"></script>
  <script src="js/controllers/move.js"></script>
  <script src="js/controllers/assign.js"></script>
  <script src="js/services/Apiservice.js"></script>
  <script src="js/services/Dataservice.js"></script>
  <script src="js/directives/tabbing.js"></script>
  <script src="js/directives/focusMe.js"></script>
</head>

<body ng-app="starter" class="platform-android platform-cordova platform-webview">
  <ion-nav-view></ion-nav-view>
  <!--<ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">{{ 'TESTING' | translate}}</h1>
      </ion-header-bar>
      <ion-content>
      </ion-content>
    </ion-pane>-->
</body>

</html>