/* Empty. Add your own CSS if you like */
.center-h {
    text-align: center !important;
}
.right-h {
    position: absolute;
    right:0.3em;
    top:0.15em;
}
.badge-on-left {
    position:absolute !important;
    float:left !important;
    right:initial !important;
}
.numberCircle {
    border-radius: 100%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 40px;
    height: 40px;
    padding: 8px;

    background: white;
    border: 2px solid;
    text-align: center;
    color: black;
    font: 18px Arial, sans-serif;
}
.scroll {
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
}
.crosshair{
    position: absolute;
    top: 38.6vh;
    left: 43.1vw;
    z-index: 1;
}
.scanner-tag{
    opacity: 0.70;
    border: none;
    position: absolute;
    width:100%;
    top:0.5em;
    background: #444444;
    color:white !important;
}
.scanner-tag-delete{
    border: none;
    width:100%;
    margin-top:0.5em;
    background: #444444;
    color:white !important;
}
.scanner-device{
    opacity: 0.70;
    border: none;
    position: absolute;
    width:100%;
    top:6.0em;
    background: #444444;
    color:white !important;
}
.scanner-device-delete{
    border: none;
    width:100%;
    margin-top:0.2em;
    background: #444444;
    color:white !important;
}
.location{
    position: absolute;
    top:calc(100% - 8em);
    left: calc(100% - 4em);
    z-index: 1;
}
.more-info{
    opacity: 0.70;
    border: none;
    position: absolute;
    top:11.4em;
    right:0.0em;
    background: #444444;
    color:white !important;
    z-index: 2;
}
.more-info-lite{
        opacity: 0.70;
    border: none;
    position: absolute;
    top:6.4em;
    right:0.0em;
    background: #444444;
    color:white !important;
    z-index: 2;
}
.back-button{
    border: none;
    position: absolute;
    top:0.4em;
    left:0.0em;
    background: #10cfbd !important;
    color: white !important;
    z-index: 2;
}
.offset-h{
    left:0px !important;
}
.image-scroller{
    width:80%;
    position: fixed;
    left: 10%;
    height: 17em;
}
.local-image{
    text-align: center;
    width: 4em;
    height: 8em;
}
.full-width{
    width:100% !important;
}
.img-wrap {
    position: relative;
}
.img-wrap .close {
    position: absolute;
    top: -0.2em;
    right: 0.3em;
    width:1em;
    height:1em;
    z-index: 1;
    background-color: #444;
    padding: 5px 2px 2px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    text-align: center;
    font-size: 15px;
    line-height: 0.3em;
    border-radius: 50%;
}
.screen-middle{
    position: absolute;
    top:15em;
}
.screen-offset-middle{
    position: absolute;
    top:25em;
}
.custom-icon{
    color:white;
}
.loading { 
    position: fixed;
  top: 80%;
  }
.badge-on-right{
position: absolute;
    right: 2.7em;
    top: 1.0em;
}
.icon-position-right{
    height: 75% !important;
}
.show-secondary{
    font-size: xx-large;
    margin-left: 0.3em;
    margin-top: 0.3em;
}
.no-overflow{
    overflow: hidden;
}
.spin-this {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.failed-status{
    color:red;
}
.bigger-font{
    font-size:large !important;
}
.color-grey{
    color:grey;
}
.header-color{
    background-color: #10cfbd !important;
}
.copy-icon{
    left: 9.5em !important;
    color: black !important;
    z-index: 11 !important;
}